/*******************************
DACHSBAU Admin Styles
********************************/


.so-dash-heutige-kurse{
    min-height: 140px;
    max-height: 240px;
    overflow: scroll;
}
.so-dash-news{
    min-height: 140px;
    max-height: 140px;
    overflow: scroll;
}



.help-li{
    padding: 0 10px;
    margin: 0;
    border-left: 1px solid #ddd;
}

.help-li-first{
    padding: 0 10px;
    margin: 0;
}

#so_dachsbau_dashboard_widget .postbox-header {
    background-color: #0D286B;
}
#so_dachsbau_dashboard_widget h2.hndle{
    color:white;
}
#so_dachsbau_dashboard_widget .inside{
    margin: 10px;
    padding: 10px;
    background-color:#2F68A71A;
}

#dashboard-widgets .postbox .inside{
    margin-bottom: 10px !important;
}

input:invalid+span:after {
    content: '✖';
    padding-left: 5px;
}
  
input:valid+span:after {
    content: '✓';
    padding-left: 5px;
}

.tableContainer {
    overflow-y: scroll;
    margin: 10px 0 10px 0;
}

.divTable {
    display: table;
    position: relative;
    width: 50vw;
}

.divRow {
    display: -webkit-inline-flex !important;
}

.divCell {
    display: table-cell;
    padding: 10px;
    background-color: lightblue !important;
}

.header {
    font-weight: bold;
    background-color: lightgray !important;
}

.headerRow {
    background-color: lightgray !important;
}
.option_info{
    padding: 10px 0 10px 0;
}

.success {
    font-size: 1.3em;
    padding: 10px;
    background-color: green;
    color: white;
}

.collapse {
    border-collapse: collapse;
}

.corona-mitarbeiter-container {
    min-width: 50%;
}

.corona-txt {
    display: block;
    font-size: 1.2em;
    margin: 20px;
}

.corona-txt:after {
    clear: both;
    display: block;
    overflow: hidden;
    content: ""
}

.corona-txt>label {
    float: left;
    width: 180px;
}

.corona-txt>input {
    border: 1px solid #ccc;
    padding: 8px 5px;
    width: 300px;
}

/* Style the tab container */
.tab {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
}

/* Style the buttons inside the tab */
.tab button {
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 16px;
    flex-grow: 1;
    text-align: center;
    background-color: snow;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}
